- content_for :javascripts do
  = javascript_include_tag "tickets"

%input.tickets-search(placeholder="Search to highlight certain tickets")

%a.hide-non-matching-cards-link(href="javascript:void(0);") Hide non-matching cards

.status-selectors
  .label Show:
  - @statuses.each do |status|
    .status-selector.selected
      .icon
      %span.value= status

.resolution-filters
  .label Filter out:
  - @resolutions.each do |resolution|
    .resolution-filter
      .icon
      %span.value= resolution

%table.ticket-wall
  %tr.header-row
    %th.week-column Week
    %th.tickets-column= current_user.name

  - @tickets.each do |week, tickets_for_week|
    %tr.content-row
      %th.week-column= week
      %td.tickets-column
        .tickets
          - tickets_for_week.each do |ticket|
            = render_partial :"tickets/ticket_card", :locals => { :ticket => ticket }
