.ticket
  .heading
    = "Ticket #{@ticket.unfuddle_number}"

    .created_at
      Created:
      %span= format_date(@ticket.unfuddle_created_at)

    .updated_at
      Updated:
      %span= format_date(@ticket.unfuddle_updated_at)

    .close
      %a(href="javascript:void(0);") Close

  .content
    .ticket-glance(class="status-#{@ticket.status}")
      .ticket-status
        Status:
        %span.value= @ticket.status

      - unless @ticket.resolution.blank?
        .ticket-resolution
          Resolution:
          %span.value= @ticket.resolution

    %h2.summary
      = @ticket.summary

    .section-selectors
      .label View:
      .section-selector.selected Details
      .section-selector Comments
      .section-selector Updates

    .details.section
      %h3 Description
      .description
        - unless @ticket.description.blank?
          = textile(@ticket.description)
        - else
          None.

      %form.update-status-form.hidden(action="/tickets/status/#{@ticket.unfuddle_id}" method="POST")
        .field.status-field
          %label(for="status") Status
          %select(name="status")
            - ["new", "reopened", "reassigned", "accepted", "resolved", "closed"].each do |status|
              %option(value="#{status}")= status.capitalize
        .field.resolution-field(style="display: none;")
          %label(for="resolution") Resolution
          %select(name="resolution")
            - ["fixed", "works_for_me", "postponed", "duplicate", "will_not_fix", "invalid"].each do |resolution|
              %option(value="#{resolution}")= resolution.humanize
        %input(type="Submit")
      %a.update-status(href="javascript:void(0);") Update status

    .comments.section(style="display: none;")
      %h3 Comments
      = render_partial :"tickets/comments_table", :locals => { :ticket => @ticket, :comments => @ticket.comments }

    .updates.section(style="display: none;")
      %h3 Updates
      = render_partial :"tickets/updates_table", :locals => { :updates => @ticket.updates }
