.ticket
  .heading
    = "Ticket #{@ticket.unfuddle_id}"

    .created_at
      Created:
      %span= format_date(@ticket.unfuddle_created_at)

    .updated_at
      Updated:
      %span= format_date(@ticket.unfuddle_updated_at)

    .close
      %a(href="javascript:void(0);") Close

  .content
    .ticket-status(class="#{@ticket.status}")
      = @ticket.status

    .details
      %h2.summary
        = @ticket.summary

      - unless @ticket.description.blank?
        %h3 Description
        .description
          = textile(@ticket.description)

    - if @ticket.comments.any?
      .comments
        %h3 Comments
        = render_partial :"tickets/comments_table", :locals => { :comments => @ticket.comments }

    - if @ticket.updates.any?
      .updates
        %h3 Updates
        = render_partial :"tickets/updates_table", :locals => { :updates => @ticket.updates }
