%head
  %title= yield_content :title
  = stylesheet_link_tag "/stylesheets/tickets_closed_by_week.css"
  = javascript_include_tag "/javascripts/jquery-1.7.2.js"
  = javascript_include_tag "/javascripts/highcharts-2.2.5.js"
  = javascript_include_tag "/javascripts/tickets_closed_by_week.js"

%body
  = yield
