%head
  %title Unfuddle Metrics
  = stylesheet_link_tag "application"
  = javascript_include_tag "/javascripts/jquery-1.7.2"
  = javascript_include_tag "/underscore/underscore.min"
  = javascript_include_tag "/javascripts/highcharts-2.2.5"
  = javascript_include_tag "/javascripts/application"
  = yield_content :javascripts

%body
  #navmenu
    %ul
      %li
        %a(href="/tickets/closed_by_week") Tickets Closed by Week
  #content
    = yield

  / Load this image in the background.
  %img(src="/images/loading.gif" style="display: none;")
